<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>


   {{msg}}

<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<form action="/show" method="post">
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" name="username"id="username" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" name="password"id="Password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <!-- <a href="/show" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>&nbsp;&nbsp;&nbsp;-->
                <input type="submit" value="Login"/>
                <div> <a href="/user">New User</a></div>
            </span>
            </div>

            </div>

        </div>
    </div>
</div>
</form>
</body>